# <center><u>Online Retail</u></center>

# <b>Introduction</b>

This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail. The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.

# <b>Attribute Information</b>

<b>InvoiceNo</b>: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation.

<b>StockCode</b>: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.

<b>Description</b>: Product (item) name. Nominal.

<b>Quantity</b>: The quantities of each product (item) per transaction. Numeric.

<b>InvoiceDate</b>: Invice Date and time. Numeric, the day and time when each transaction was generated.

<b>UnitPrice</b>: Unit price. Numeric, Product price per unit in sterling.

<b>CustomerID</b>: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.

<b>Country</b>: Country name. Nominal, the name of the country where each customer resides.

# Sample Dataset

Import Pandas library in order to convert the file xlsx into csv format.

In [4]:
%matplotlib inline

import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

In [5]:
data_xls = pd.read_excel('online_retail.xlsx', 0, index_col=None)
data_xls.to_csv('online_retail_ori.csv', encoding='utf-8')

<b>Read CSV file</b>

In [6]:
file = pd.read_csv('online_retail_ori.csv', encoding='utf-8')

View the dimension of the data and sample of the data

In [9]:
file.shape

(541909, 9)

In [10]:
file.head()

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

There 541909 rows with 9 columns(variables).

The datatype for each variables.

In [13]:
file.dtypes

Unnamed: 0       int64
InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

# Data Cleaning & Transformation

View the the variables using describe function

In [20]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
Unnamed: 0     541909 non-null int64
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null object
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 37.2+ MB

Variable <i>Description</i> and <i>CustomerID</i> have missing values. <i>CustomerID</i> have more than 100000 missing values, and maybe consider it to be removed.